package {{ pkg }}.{{ name }}

import org.koin.core.module.dsl.singleOf
import org.koin.dsl.module

object {{ name | capitalize }}Injection {
    val inject =
        module {
            single { {{ name | capitalize }}Service() }
        }
}
