package {{ pkg_name }}.{{ module_name }}

import io.ktor.server.application.*
import io.ktor.server.routing.*
import org.koin.ktor.ext.inject

fun Application.configure{{ module_name | capitalize }}Routing() {
    val service by inject<{{ module_name | capitalize }}Service>()

    routing {

        route("/{{ module_name }}") {}
    }
}
